# Apache port
export PORT=80

# Database default configs.
export MARIADB_HOST=db
export MARIADB_NAME=librarydb
export MARIADB_USER=userconnect
export MARIADB_PORT=3306
export MARIADB_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
export MARIADB_PASSWORD_FILE=/run/secrets/db_password
# export MARIADB_DATABASE_URL=