# Flas config.
FLASK_CONFIG=dev
PORT=8000

# Database default configs.
MARIADB_HOST=db
MARIADB_NAME=spost
MARIADB_USER=root
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD_FILE=/run/secrets/db-password
#export MARIADB_ROOT_PASSWORD_FILE=passwordSeguro1212
# export MARIADB_DATABASE_URL=